
/* --------------------------------------------------- */
/* --------------------------------------------------- */

html {
    height: 100vh;
    overflow-x: hidden;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */

.searchbar {
    background-color: darkolivegreen;
    text-align: center;
    height: 25vh;
}

.sidebar {
    background-color: darkslategray;
    height: 75vh;
    border-top: solid black;
    border-right: solid black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.widgets {
    background-color: mintcream;
    height: 75vh;
    border-top: solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */

#igogole_title {
    height: 150px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#search_bar {
    text-align: left;
}

#list{
    padding-left: 0.5vw;
    margin-left: 29vw;
}

.widgets_zone {
    margin-left: 10vw;
    margin-top: 4vh;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* -------------------WIDGETS LIST-------------------- */

#widgets-list {
    width: 16vw;
}

.list-group-item {
    user-select: none;
    height: 7vh;
}

.add_widget_button {
    float: right;
    background-color: transparent;
    color: darkorange;
    border: none;
    font-size: 1.5vw;
    outline: none;
}

#clear_button {
    float: right;
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* ADD WIDGET BUTTON AND ANIMATIONS */

.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

.rotate:hover
{
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
}

#click-to-add-label {
    font-family: "Ubuntu", sans-serif;
    margin-left: 15vw;
}

/* EMPTY WIDGET */

.column {
    margin-bottom: -999999px;
    padding-bottom: 999999px;
    border-top: 1px solid transparent;
}

.delete_cross {
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* DATETIME WIDGET */

.datetime_widget {
    font-family: "Ubuntu", sans-serif;

    height: 14vh;
    margin: 1vh 1vh 1vh 1vh;
    padding: 1vh;

    align-items: center;
    text-align: center;
}

/* TWITTER WIDGET */

.twitter_widget {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.twitter-search {
    padding: 5px 0;
    width: 16vw;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;

    margin-bottom: 2vh;
}

.search input {
    position: absolute;
    width: 0;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0;
}

.twitter-btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

/* YOUTUBE WIDGET */

.youtube_widget {
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.youtube-search {
    padding: 5px 0;
    width: 16vw;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;

    margin-bottom: 2vh;
}

.youtube-btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

/* FOOT WIDGET */

.foot_widget {
    margin-top: 0;
    height: 41vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fixture {
    width: 18vw;
    height: 15vh;
    padding-top: 3vh;
}

.fixture-score {
    font-family: "Ubuntu", sans-serif;
}

.home-team {
    float: left;
}

.away-team {
    float: right;
}

.teamname-home {
    font-family: "Ubuntu", sans-serif;
    font-size: 1vw;
    position: absolute;
    margin-top: 7vh;
}

.teamname-away {
    font-family: "Ubuntu", sans-serif;
    font-size: 1vw;
    position: absolute;
    margin-top: 7vh;
    float: right;
}

.img-home {
    position: absolute;
}

.img-away {
    position: absolute;
    margin-left: 2vw;
}

/* WEATHER WIDGET */

.weather_search_label {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 4vh;
}

.weather_input {
    width: 17vw;
    float: left;
}

.weather-btn {
    margin-top: 2vh;
    float: left;
}

.weather_icon {
    width: 4vw;
    border: solid black;
    border-radius: 20vw;
    position: absolute;
    margin-left: 14vw;
    margin-top: -12vh;
}

.temp {
    font-size: 3vw;
    font-weight: bold;
    margin-left: 0.5vw;
}

.city_and_country {
    font-size: 1vw;
    font-style: italic;
    margin-left: 0.5vw;
}

/* FLICKR WIDGET */

.flickr_widget {
    height: 35vh;
    max-width: 16vw;
}

.flickr-photo {
    width: 17.3vw;
    height: 32vh;
}

.flickr-search{
    margin-top: 2vh;
    margin-left: 1vw;
}

.flickr-input {
    width: 14vw;
    float: left;
}

.flickr-btn {
    float: left;
}

/* GMAPS WIDGET */

.gmaps_widget {
    height: 40vh;
}

.gmaps {
    width: 17.5vw;
    height: 33vh;
}

.gmaps-search{
    margin-bottom: 1vh;
    margin-left: 0.1vw;
}

.gmaps-input {
    width: 14vw;
    float: left;
}

.gmaps-btn {
    float: left;
}

